<?xml version="1.0" ?>
<robot name="box" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find component_sorting_description)/urdf/inertia.urdf.xacro" />
  <xacro:include filename="$(find component_sorting_description)/ar_tags/ar_tag_6cm_border.urdf.xacro" />

  <xacro:arg name="prefix" default="box_"/>
  <xacro:property name="prefix" value="$(arg prefix)" />

  <xacro:arg name="tag_id" default="1"/>
  <xacro:property name="tag_id" value="$(arg tag_id)" />

  

  <link name="${prefix}base_link">
  </link>

  <joint name="${prefix}joint" type="fixed">
    <origin rpy="0 0 -1.5708" xyz="0 0 0"/>
    <parent link="${prefix}base_link"/>
    <child link="${prefix}body_box_link"/>
  </joint>

  <link name="${prefix}body_box_link">
    <inertial>
      <mass value="4" />
      <origin xyz="0 0 0.05" />
      <solid_cuboid_inertia m="4" h="0.2" d="0.1" w="0.3"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.05"/>
      <geometry>
        <box size="0.15 0.25 0.10" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.05"/>
      <geometry>
        <box size="0.15 0.25 0.10" />
      </geometry>
<surface>
      <friction>
        <ode>
          <mu>1</mu>
          <mu2>1</mu2>
          <slip1>0</slip1>
          <slip2>0</slip2>
        </ode>
      </friction>
      <contact>
        <ode>
          <soft_cfm>0</soft_cfm>
          <soft_erp>0.2</soft_erp>
          <kp>1e+13</kp>
          <kd>1</kd>
          <max_vel>0.01</max_vel>
          <min_depth>0</min_depth>
        </ode>
      </contact>
    </surface>
    </collision>
  </link>

  <joint name="${prefix}qr_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.05"/>
    <parent link="${prefix}body_box_link"/>
    <child link="${prefix}qr"/>
  </joint>

  <link name="${prefix}qr"/>

  <!-- AR TAG -->
  <xacro:ar_tag prefix="${prefix}" parent="${prefix}qr" tag_id="${tag_id}">
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
  </xacro:ar_tag>

<!--  <xacro:artag name="artag_01" parent="${prefix}grasping_link">
    <origin xyz="0 0 0" rpy="0 3.141592 0"/>
  </xacro:artag>  -->


  <gazebo reference="${prefix}body_box_link">
    <visual>  
      <material>  
        <ambient>0.0 0.0 0.0 1.0</ambient>  
        <diffuse>0.2 0.2 0.2 1.0</diffuse>  
        <specular>0.584313725 0.647058824 0.650980392 1.0</specular>  
        <emissive>0.0 0.0 0.0 0.0</emissive>  
      </material>  
    </visual>  
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
   <minDepth>0.001</minDepth>  
   <maxVel>0</maxVel>  
    <maxContacts>10</maxContacts>
 </gazebo>


</robot>
