<?xml version="1.0"?>
<robot name="component_sorting" xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- ***************** -->
    <!-- Imported elements -->
    <!-- ***************** -->

    <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

    <!-- Import RB-Kairos UR5 OEM VGC10 -->
    <!-- remember, it creates and instances the macro, so no need to do it here -->
  	<xacro:arg name="prefix" default="robot_"/>
    <xacro:property name="prefix" value="$(arg prefix)" />

    <xacro:property name="PI" value="3.1415926535897931"/>

    <xacro:include filename="$(find component_sorting_description)/robots/rbkairos_ur5_plus.urdf.xacro" />

  
    <xacro:include filename="$(find component_sorting_description)/urdf/inertia.urdf.xacro" />

  
    <xacro:arg name="ros_planar_move_plugin" default="false"/>

    <!-- ROBOT -->
    <xacro:rbkairos prefix="$(arg prefix)" publish_bf="true" hq="true" load_kinematics_file="$(arg load_kinematics_file)"/>
    <xacro:if value="$(arg ros_planar_move_plugin)">
      <xacro:omni_steering prefix="$(arg prefix)" publish_tf="true"/>
    </xacro:if>
    



</robot>
