<?xml version="1.0" ?>
<robot name="ar_tag" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="ar_tag" params="prefix parent tag_id *origin">


    <joint name="${prefix}ar_tag_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}ar_tag_base_link"/>
    </joint>

    <link name="${prefix}ar_tag_base_link">
      <inertial>
        <mass value="0.01"/>
        <origin rpy="0  0  0" xyz="0  0  0"/>
        <inertia ixx="0.00000001" ixy="0.0"  ixz="0.0"  iyy="0.00000001"  iyz="0.0"  izz="0.00000001"/>
      </inertial>
<!--       <collision >
        <origin rpy="0  0  0" xyz="0  0  0"/>
        <geometry>
          <box size="0.001 0.14 0.14"/>
        </geometry>
      </collision> -->
      <visual >
        <origin rpy="0  0  0" xyz="0  0  0"/>
        <geometry>
          <box size="0.08 0.08 0.001"/>
        </geometry>
      </visual>
    </link>

    <joint name="${prefix}ar_tag_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.0005"/>
      <parent link="${prefix}ar_tag_base_link"/>
      <child link="${prefix}ar_tag_link"/>
    </joint>

    <link name="${prefix}ar_tag_link">
      <inertial>
        <mass value="0.01"/>
        <origin rpy="0  0  0" xyz="0  0  0"/>
        <inertia ixx="0.00000001" ixy="0.0"  ixz="0.0"  iyy="0.00000001"  iyz="0.0"  izz="0.00000001"/>
      </inertial>
<!--       <collision >
        <origin rpy="0  0  0" xyz="0  0  0"/>
        <geometry>
          <box size="0.001 0.14 0.14"/>
        </geometry>
      </collision> -->
      <visual >
        <origin rpy="0  0  0" xyz="0  0  0"/>
        <geometry>
          <box size="0.06 0.06 0.001"/>
        </geometry>
      </visual>
    </link>


    <gazebo reference="${prefix}ar_tag_base_link">
       
      <material>Gazebo/White</material>
       
    </gazebo>

    <gazebo reference="${prefix}ar_tag_link">
       
      <material>ARtrack/${tag_id}</material>
       
    </gazebo>

  </xacro:macro>
</robot>
