<?xml version="1.0" ?>
<robot name="marker1_border_12cm" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="ar_tag" params="prefix parent id_tag *origin">


    <joint name="${prefix}ar_tag_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}ar_tag_base_link"/>
    </joint>

    <link name="${prefix}ar_tag_base_link">
      <inertial>
        <mass value="0.01"/>
        <origin rpy="0  0  0" xyz="0  0  0"/>
        <inertia ixx="0.00000001" ixy="0.0"  ixz="0.0"  iyy="0.00000001"  iyz="0.0"  izz="0.00000001"/>
      </inertial>
      <collision >
        <origin rpy="0  0  0" xyz="0  0  0"/>
        <geometry>
          <box size="0.001 0.14 0.14"/>
        </geometry>
      </collision>
      <visual >
        <origin rpy="0  0  0" xyz="0  0  0"/>
        <geometry>
          <box size="0.001 0.14 0.14"/>
        </geometry>
      </visual>
    </link>


    <gazebo reference="${prefix}ar_tag_base_link">
       
      <material>ARtrack/${id_tag}</material>
       
    </gazebo>

  </xacro:macro>
</robot>
