<?xml version="1.0" ?>
<robot name="holder" xmlns:xacro="http://wiki.ros.org/xacro">



  <xacro:include filename="$(find component_sorting_description)/urdf/inertia.urdf.xacro" />
  <xacro:include filename="$(find component_sorting_description)/ar_tags/ar_tag_12cm_border.urdf.xacro" />


  <!--xacro:arg name="prefix" default="box_"/>
  <xacro:property name="prefix" value="$(arg prefix)" /-->

  <xacro:macro name="holder" params="prefix parent tag_id *origin">

    <joint name="${prefix}holder_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}holder_base_link"/>
    </joint>

    <link name="${prefix}holder_base_link">
    </link>

    <joint name="${prefix}holder_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="${prefix}holder_base_link"/>
      <child link="${prefix}holder_link"/>
    </joint>

    <link name="${prefix}holder_link">
      <inertial>
        <mass value="0.1" />
        <origin xyz="0 0.011 0" />
        <xacro:solid_cuboid_inertia m="0.1" h="0.022" d="0.225" w="0.31">
        </xacro:solid_cuboid_inertia>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://component_sorting_description/meshes/box/box_holder.stl"/>
        </geometry>
      </visual>
      <!--collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://component_sorting_description/meshes/box/box_holder.stl"/>
        </geometry>
      </collision-->  
    </link>

    <joint name="${prefix}holder_oriented_joint" type="fixed">
      <origin rpy="${-3.14159} 0 ${-3.14159/2}" xyz="0 0 0"/>
      <parent link="${prefix}holder_link"/>
      <child link="${prefix}holder_oriented_link"/>
    </joint>


    <link name="${prefix}holder_oriented_link">
    </link>
    
    <joint name="${prefix}holder_approach_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0.137 -0.50"/>
      <parent link="${prefix}holder_oriented_link"/>
      <child link="${prefix}holder_approach"/>
    </joint>

    <link name="${prefix}holder_approach"/>

    <joint name="${prefix}grab_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 -0.5"/>
      <parent link="${prefix}holder_oriented_link"/>
      <child link="${prefix}grab_link"/>
    </joint>

    <link name="${prefix}grab_link"/>

    <!-- TABLE TAG -->
    <xacro:ar_tag prefix="${prefix}holder_" parent="${prefix}holder_link" tag_id="${tag_id}">
      <origin xyz="0 0 0" rpy="0 0 ${-3.14159/2}"/>
    </xacro:ar_tag>


    <gazebo reference="${prefix}holder_link">
      <visual>  
        <material>  
          <ambient>0.0 0.0 0.0 1.0</ambient>  
          <diffuse>0.2 0.2 0.2 1.0</diffuse>  
          <specular>0.584313725 0.647058824 0.650980392 1.0</specular>  
          <emissive>0.0 0.0 0.0 0.0</emissive>  
        </material>  
      </visual>  
      
    </gazebo>

  </xacro:macro>

</robot>
