<launch>
  <!-- Table contents configuration -->
  <arg name="box_x" default="-0.165"/>
  <arg name="box_y" default="0.0"/>
  <arg name="box_z" default="0.90"/>
  <arg name="box_yaw" default="0"/>
  <arg name="box_prefix" default="box_"/>
  <arg name="box_tag_id" default="marker7_6cm"/>    

  <!-- Convert box urdf to xacro and put on parameter server -->
  <arg name="box_urdf_file" default="$(find xacro)/xacro '$(find component_sorting_description)/urdf/box/box.urdf.xacro' 
  prefix:=$(arg box_prefix) tag_id:=$(arg box_tag_id) --inorder" />

  <param name="box_description" command="$(arg box_urdf_file)" />


  <!-- Spawn box into Gazebo -->
  <node name="spawn_box" pkg="gazebo_ros" type="spawn_model" args="-param box_description -urdf -model box -reference_frame table_base_link -x $(arg box_x) -y $(arg box_y) -z $(arg box_z) -Y $(arg box_yaw)" />

</launch>
