<launch>

    <arg name="center_x" default="0.15"/>
    <arg name="center_y" default="0.0"/>
    <arg name="center_z" default="0.385"/> <!-- 0.382125 -->
    <arg name="left_x" default="0.15"/> <!-- -0.195 -->
    <arg name="left_y" default="0.228"/> <!-- 0.225 -->
    <arg name="left_z" default="0.385"/>
    <arg name="right_x" default="0.15"/>
    <arg name="right_y" default="-0.228"/>
    <arg name="right_z" default="0.385"/>
    <arg name="yaw" default="0"/>

    <arg name="center_prefix" default="center_box_"/>
    <arg name="center_tag_id" default="marker3_border_12cm"/>    
    <arg name="right_prefix" default="right_box_"/>
    <arg name="right_tag_id" default="marker2_border_12cm"/> 
    <arg name="left_prefix" default="left_box_"/>
    <arg name="left_tag_id" default="marker4_border_12cm"/>     

    <!-- Convert xacro and put on parameter server -->
    <arg name="center_box_urdf_file" default="$(find xacro)/xacro '$(find component_sorting_description)/urdf/box/box.urdf.xacro' 
    prefix:=$(arg center_prefix) tag_id:=$(arg center_tag_id) --inorder" />

    <param name="center_box_description" command="$(arg center_box_urdf_file)" />


    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_center_box" pkg="gazebo_ros" type="spawn_model" args="-param center_box_description -urdf -model center_box -reference_frame table_qr -x $(arg center_x) -y $(arg center_y) -z $(arg center_z) -Y $(arg yaw)" />


    <!-- Convert xacro and put on parameter server -->
    <arg name="right_box_urdf_file" default="$(find xacro)/xacro '$(find component_sorting_description)/urdf/box/box.urdf.xacro' 
    prefix:=$(arg right_prefix) tag_id:=$(arg right_tag_id) --inorder" />

    <param name="right_box_description" command="$(arg right_box_urdf_file)" />


    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_right_box" pkg="gazebo_ros" type="spawn_model" args="-param right_box_description -urdf -model right_box -reference_frame table_qr -x $(arg right_x) -y $(arg right_y) -z $(arg right_z) -Y $(arg yaw)" />



    <!-- Convert xacro and put on parameter server -->
    <arg name="left_box_urdf_file" default="$(find xacro)/xacro '$(find component_sorting_description)/urdf/box/box.urdf.xacro' 
    prefix:=$(arg left_prefix) tag_id:=$(arg left_tag_id) --inorder" />

    <param name="left_box_description" command="$(arg left_box_urdf_file)" />


    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_left_box" pkg="gazebo_ros" type="spawn_model" args="-param left_box_description -urdf -model left_box -reference_frame table_qr -x $(arg left_x) -y $(arg left_y) -z $(arg left_z) -Y $(arg yaw)" />


<!--     <node name="table_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
	  <remap from="robot_description" to="table_description"/>
    </node> -->



</launch>
