<launch>

  <arg name="prefix" default="table_"/>

  <arg name="qr_height" default="0.375" />

  <arg name="table_x_pose" default="2" />
  <arg name="table_y_pose" default="0" />

    <!-- Convert xacro and put on parameter server -->
    <arg name="table_urdf_file" default="$(find xacro)/xacro '$(find component_sorting_description)/urdf/table.urdf.xacro'  --inorder" />

    <param name="table_description" command="$(arg table_urdf_file)" />

    <!-- Spawn table into Gazebo -->
    <node name="spawn_table" pkg="gazebo_ros" type="spawn_model" args="-param table_description -urdf -model gazebo_table -x $(arg table_x_pose) -y $(arg table_y_pose) -z 0" />
<!-- 

    <node name="table_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
	  <remap from="robot_description" to="table_description"/>
    </node> -->



</launch>
